{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ wish.title }}</h1>
    <p>Dans la catégorie {{ wish.categorie.libelle }}</p>
    {% if wish.description %}
        <h2>Les détails du souhait :</h2>
        <p>{{ wish.description }}</p>
    {% endif %}
    <p>Souhait créé par {{ wish.author }}, le {{ wish.dateCreated|date ('d/m/Y H:i') }}</p>
{% endblock %}

{% block title %}
    Souhait {{ wish.id }}
{% endblock %}

