{% extends 'base.html.twig' %}

{% block body %}
    <h1><strong>{{ wish.title }}</h1></strong>
    <p>Dans la catégorie {{ wish.categorie.libelle }}</p>
    <br>
    {% if wish.description %}
        <h2>Les détails du souhait de {{ wish.author }}, le {{ wish.dateCreated|date ('d/m/Y H:i') }}:</h2>
        <p>{{ wish.description }}</p>
    {% endif %}
    <br>
    <div>
        <h2>Donner votre réaction/avis/commentaire :</h2>
        {{ form_start(reacForm) }}
            {{ form_widget(reacForm) }}
            <br>
            <button>Réagir !</button>
        {{ form_end(reacForm) }}

    </div>
    <br>
    <div>
        <h2>Liste des commentaires sur ce souhait :</h2>
        <br>

        {% for reaction in wish.reactions %}
            <div>
                <p>{{ reaction.message }}</p>
                <p>Par {{ reaction.username }}, le {{ reaction.dateCreated|date ('d,m,Y H:i') }}</p>
            </div>
            <br>
        {% else %}
            <p>Soyez le premier à réagir !</p>
        {% endfor %}
    </div>
{% endblock %}

{% block title %}
    Souhait {{ wish.id }}
{% endblock %}

