{% extends 'base.html.twig' %}

{% block body %}
    <h1><strong>{{ wish.title }}</strong></h1>
    <p>Catégorie {{ wish.categorie.libelle }}</p>
    <br>
    {% if wish.description %}
        <h4>Les détails du souhait de {{ wish.author }}, le {{ wish.dateCreated|date ('d/m/Y H:i') }}:</h4>
        <p>{{ wish.description }}</p>
    {% endif %}
    <br>
    <section class="border rounded row my-4">
        <div class="col-4">
            <h5 class="text-nowrap">Partagez votre réaction/avis/commentaire :</h5>
            {{ form_start(reacForm) }}
                {{ form_widget(reacForm) }}
                <button class="my-4 text-center btn btn-sm btn-outline-info border-primary">Réagir !</button>
            {{ form_end(reacForm) }}
        </div>
    </section>

    <section>
        <h4 class="mb-4">Liste des commentaires sur ce souhait :</h4>

        {% for reaction in wish.reactions %}
            <article class="my-2">
                <p>{{ reaction.message }}</p>
                <p>Par {{ reaction.username }}, le {{ reaction.dateCreated|date ('d,m,Y H:i') }}</p>
            </article>
            <br>
        {% else %}
            <p>Soyez le premier à réagir !</p>
        {% endfor %}
    </section>
{% endblock %}

{% block title %}
    Souhait {{ wish.id }}
{% endblock %}

