{% extends 'base.html.twig' %}

{% block title %}Wishes{% endblock %}

{% block body %}
    <h1>Tous les souhaits existants chez nous (page #{{ currentPage }}) :</h1>

    <div class="row">
        {% if (currentPage > 1) %}
        <a class="col btn btn-lg btn-primary" href="{{ path('wish_list', {'page': currentPage-1}) }}">Page précédente</a>
        {% endif %}

        {% if ((currentPage * 20) < totalResultCount) %}
        <a class="col btn btn-lg btn-primary" href="{{ path('wish_list', {'page': currentPage+1}) }}">Page suivante</a>
        {% endif %}
    </div>

    <ul>
        {% for wish in wishes %}
        <li><a href="{{ path('wish_detail', {id: wish.id}) }}"> {{ wish.title }} ({{ wish.categorie.libelle }}) </a></li>
        {% else %}
            <div>Rien à proposer !</div>
        {% endfor %}
    </ul>
{% endblock %}
